.card{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 150px;
    /* height: ; */
    border: 10px solid var(--orange);
    border-radius: 13px;
    
}

.card :nth-child(1){
    transform: scale(0.6);
}