.carddiv {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 98vw;
    /* width: 150px; */
    /* height: ; */
    /* border: 10px solid var(--orange);
    border-radius: 13px; */
    
}
.carddiv > *{

    border: 9px solid var(--orange);
    border-radius: 13px;
    /* transform: scale(0.8); */
    margin-left: 3rem;
    width: 250px;
    height: 280px;
    justify-items: center;
    text-align: center;
    

}

.carddiv :nth-child(1)>img{
    transform: scale(0.8);
    
}

.carddiv :nth-child(2)>image{
    transform: scale(0.8);
}

.carddiv :nth-child(3)>image{
    transform: scale(0.8);
}